*{
	margin:0;
	padding:0;
	border:none;
	outline:none;
}

html { 
  background: url(./Images/Background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body{
	font-family:Arial;
	font-size:13px;
	line-height:1.5em;
	color:#fff;
}

.clearfix{
	clear:both;
}

#container{
	width:330px;
	min-height:400px;
	background:#333;
	overflow:auto;
	margin:20px auto;
	border-radius:10px;
	box-shadow:0 10px 8px -8px #333;
}

#audio-image{
	position:relative;
	overflow:hidden;
	height:200px;
	margin-bottom:15px;
}

#audio-image .cover{
	width:100%;
}

#audio-info{
	text-align:center;
}

#audio-info .artist{
	font-weight:bold;
}

input#volume{
	width:95%;
	margin-left:2%;
	-webkit-appearance:none !important;
	background:#ccc;
	height:1px;
	margin-bottom:20px;
}
input#volume::-webkit-slider-thumb{
	-webkit-appearance:none !important;
	background:url(../images/knob.png) no-repeat;
	height:12px;
	width:12px;
}

#buttons{
	width:90%;
	display:block;
	margin:15px auto;
	margin-left:23px;
	overflow:auto;
}

button#play{
	width:70px;
	height:70px;
	background:url(../images/play.png) no-repeat;
	float:left;
	margin-left:-2px;
}

button#pause{
	width:70px;
	height:70px;
	background:url(../images/pause.png) no-repeat;
	float:left;
	margin-left:-2px;
}

button#stop{
	width:70px;
	height:70px;
	background:url(../images/stop.png) no-repeat;
	float:left;
	margin-left:3px;
}

button#prev{
	width:70px;
	height:70px;
	background:url(../images/prev.png) no-repeat;
	float:left;
	margin-top:15px;
}

button#next{
	width:70px;
	height:70px;
	background:url(../images/next.png) no-repeat;
	float:right;
	margin-top:15px;
}

#tracker{
	position:relative;
	width:100%;
}

#progress-bar{
	width:80%;
	margin-left:2%;
	margin-bottom:20px;
	margin-top:9px;
	height:10px;
	background:url(../images/progress_bg.png) no-repeat;
	float:left;
}

#progress{
	background:url(../images/progress.png) no-repeat;
	height:10px;
	display:inline-block;
}

#duration{
	position:absolute;
	top:0;
	right:10px;
	padding: 4px 8px;
	background:#000;
	border-radius:5px;
}

#playlist{
	list-style:none;
}
#playlist li{
	cursor:pointer;
	margin:5px;
}
#playlist li.active{
	font-weight:bold;
	padding:3px;
	background:#666;
}
/*
.modal {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modal:target {
    opacity:1;
    pointer-events: auto;
}
.modal > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
	color: darkblue;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
} */

input#keepGoing{
	width:250px;
	height:70px;
	float:left;

	background-color: #8df28a;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-top:25px;
	margin-left:5%;
}

input#change{
	width:250px;
	height:70px;
	float:right;
	
	background-color: #ffadc5;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-top:25px;
	margin-right:5%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
	color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
	height: 40%;
	border-radius: 25px;
}

/* The Close Button */
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
	background: #00d9ff;
	display: inline-block;
}